{% extends 'pacientes_lista.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'paciente/paciente/paciente_detail.css' %}">
{% endblock %}

{% block title %}
	<title>Detalle de Signos Vitales</title>
{% endblock %}

{% block topmenu %}
  <!--<a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3">
        <a class="nav-link" href="{% url 'class_update' signos.id %}"><i class="fas fa-user-injured fa-sm mr-1"></i> Editar Datos</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="{% url 'class_detail_record' signos.id %}"><i class="fas fa-address-book fa-sm mr-1"></i> Record</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="{% url 'class_detail_signos' signos.id %}"><i class="fas fa-heartbeat fa-sm mr-1"> Signos Vitales</i></a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'class_detail_antecedentes' signos.id %}"><i class="fas fa-procedures fa-sm mr-1"> Antecedentes Médicos</i></a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block table %}
<section>
    <div class="container-fluid ">
      <div class="row mb-5 px-5">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="text-muted text-center mb-4">Signos vitales del Paciente</h2>

              <div class="row">
                <div class="container jumbotron col-10">

                      <h3 class="text-center mb-5">{{object.id_Expediente}}</h3>
                        <p class="text-justify mb-2 datos">BMI (Body Mass Index):</p><p class="datos2 mb-4">{{object.BMI}}</p>
                        <p class="text-justify mb-2 datos">Altura:</p><p class="datos2 mb-4">{{object.Altura}} cm.</p>
                        <p class="text-justify mb-2 datos">Peso:</p> <p class="datos2 mb-4">{{object.Peso}} kg.</p>
                        <p class="text-justify mb-2 datos">Temperatura:</p> <p class="datos2 mb-4">{{object.Temperatura}}°</p>
                        <p class="text-justify mb-2 datos">Frecuencia Cardiaca:</p> <p class="datos2 mb-4">{{object.Frecuencia_Cardiaca}} por min.</p>
                        <p class="text-justify mb-2 datos">Presion:</p> <p class="datos2 mb-4">{{object.Presion}} mmHg </p>

												<br>
                        <div class="col-7 mx-auto">
                              <a href="{% url 'class_update_signos' signos.id %}" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt" aria-hidden="true"></i><br>Editar</a>
                        </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
