{% load thumbnail %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

{% block links %}
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<!-- ckeditor -->
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>


{% endblock %}
</head>


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'paciente/dashboard3.css' %}">
{% endblock %}

{% block title %}
	<title>Dashboard</title>
{% endblock %}

{% block sidebar %}
<div class="wrapper">
			<nav id="sidebar">
				<div class="sidebar-header text-center">
						<a href="{% url 'home' %}" class="nav-link text-white"><h5>
								<i class="fas fa-home text-light fa-md mr-3 "></i>Vortex</h5></a>
				</div>

						<div class="dropdown-divider" style="border-color: aqua;"></div>

				<ul class="list-unstyled components">

										<a href="{% url 'admin:index' %}"><h5 class="text-center"><small><i class="fas fa-user-md fa-lg mr-3"></i>{{ user.first_name}} {{user.last_name }}</small></h5><br></a>
										<ul class="list-unstyled CTAs">
												<p>la última sesión fue:{{ user.last_login }}</p>
										</ul>

										<div class="dropdown-divider" style="border-color: aqua;"></div>

										<li class="">
											<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle "><i class="fas fa-user-injured text-light fa-lg mr-3"></i>Pacientes</a>
											<ul class="collapse list-unstyled" id="homeSubmenu">
												<li>
													<a href="{% url 'class_pacientes_lista'%}"><i class="fas fa-clipboard-list fa-lg mr-3"></i>Lista de Pacientes</a>
												</li>
												<li>
													<a href="{% url 'class_upload_record' %}"><i class="fas fa-procedures fa-lg mr-3"></i>Crear nuevo Paciente</a>
												</li>
											</ul>
										</li>

					   			<li>
					   				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-book-medical fa-lg mr-3"></i>Consultas</a>
					   				<ul class="collapse list-unstyled" id="pageSubmenu">
					   					<li>
					   						<a href="{% url 'class_consultas_lista' %}"><i class="fas fa-clipboard-list fa-lg mr-3"></i>Lista de Consultas</a>
					   					</li>
					   					<li>
					   						<a href="{% url 'class_upload_consulta' %}"><i class="fas fa-syringe fa-lg mr-3"></i>Crear nueva Consulta</a>
					   					</li>
					   				</ul>
					   			</li>
									<li>
					   				<a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-portrait fa-lg mr-3"></i>Galerias</a>
					   				<ul class="collapse list-unstyled" id="pageSubmenu2">
					   					<li>
					   						<a href="{% url 'class_galeria_lista' %}"><i class="fas fa-clipboard-list fa-lg mr-3"></i>Lista de Galerías</a>
					   					</li>
					   					<li>
					   						<a href="{% url 'class_upload_galeria' %}"><i class="fas fa-portrait fa-lg mr-3"></i>Crear nueva Galería</a>
					   					</li>
					   				</ul>
					   			</li>
									<li>
					   				<a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-eye fa-lg mr-3"></i>Album</a>
					   				<ul class="collapse list-unstyled" id="pageSubmenu3">
					   					<li>
					   						<a href="{% url 'class_album_lista' %}"><i class="fas fa-clipboard-list fa-lg mr-3"></i>Lista de Album</a>
					   					</li>
					   					<li>
					   						<a href="{% url 'class_upload_album' %}"><i class="fas fa-camera fa-lg mr-3"></i>Crear nuevo Album</a>
					   					</li>
					   				</ul>
					   			</li>
   		</ul>

   		<ul class="list-unstyled CTAs">
   			<li>
   				<a href="{% url 'logout' %}" class="sesion">Cerrar sesión</a>
   			</li>

   		</ul>
   	</nav>

   	<div class="content col-xl-10 col-lg-9 col-md-8 ">
   		<nav class="navbar navbar-expand-lg navbar-light bg-light">

   		<button type="button" id="sidebarCollapse" class="btn btn-info rounded-pill">
   			<i class="fa fa-align-justify"></i> <span>sidebar</span>
   		</button>
{% endblock %}


{% block topmenu %}
  <!--<a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}


{% block table %}
{% endblock %}

	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
								$(document).ready(function(){
								$('#sidebarCollapse').on('click',function(){
									$('#sidebar').toggleClass('active');
								});
							});
</script>

<script>
				$(document).ready(function() {
						$('#tabla_pacientes').dataTable( {
								"language": {
										"url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
										}
									} );
								} );
</script>

</html>
